/*
-------------------------------------------
BURALARDAKİ KODLAR DEĞİŞTİRİLMEMELİ. EN
AŞAĞIDAKİ NOTU OKUYALIM
-------------------------------------------
*/

body {
  background-color: #393646;
  color: #f4eee0;
}

ul li:not(:last-child), ol li:not(:last-child) {
  margin-bottom: 5px;
}

.bold-text {
  font-weight: bold;
}

.same-color-text {
  color: #f4e1f4;
  text-decoration: underline;
  font-weight: bold;
}

ul.task-1-list li span {
  color: #e1cda3 !important;
}

ul.task-1-list li#third-item {
  color: #f4e1f4;
}

/*
-------------------------------------------
YUKARIDAKİ KODLARI DEĞİŞTİRMEMELİSİNİZ.
BURADAN AŞAĞIYA ÇÖZÜMÜNÜZÜ YAZABİLİRSİNİZ.
-------------------------------------------
*/
/* Genel stil */
*{
  box-sizing: border-box;
  /* Kutu boyutunu hesaplam durumundan kurtarır 
  border ve padding px değerlerni ayrı ayrı hesaba katmamıza gerek kalmaz */
}
ul.task-1-list li#third-item span{
  color: inherit !important;
}
#div1{
  height: 400px;
  width: 600px;
  background-color: #F4EEE0 ;
  border: 3px blue solid;
  border-radius: 25px;
  margin: 50px 50px 50px 0px;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
}
#div2{
  width: 30%;
  height: 300px;
  background-color: #F4EEE0 ;
  border: 3px blue solid;
  border-radius: 25px;
  margin: 50px 50px 50px 0px;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
}

#div-inside{
background-color: #E1CDA3;
height: 100%;
width: 100%;
}
#div-inside-2{
  background-color: #E1CDA3;
  height: 100%;
  width: 100%;
}